@import '~@angular/material/theming';
@import './theme';

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-deep-purple, 500, 900, A100);
$accent:  mat-palette($mat-amber, 800, 900, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include material-docs-theme($theme);

html, body {
  background: #ccc;
  margin: 0;
  padding: 0;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}