@import '~@angular/material/theming';
@include mat-core();

// Styles for the docs app that are based on the current theme.
@mixin material-docs-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .docs-background {
    background: mat-color($background, background);
  }

  .docs-primary-header {
    background: mat-color($primary);
    padding: 0 20px;

    h1, h2 {
      color: mat-color($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  mat-tab-group {
    color: mat-color($primary, default-contrast);
  }


  .page-construction {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    
    mat-icon {
      padding-right: 8px;
    }
  }

  a {
    color: mat-color($accent);
  }

  .npm {
    color: #cb3837;
  }

  .gitlab {
    color: #fc6d26;
  }

  .github,
  .external-link {
    color: #000000;
  }

  .sidebar .mat-expansion-panel-body {
    padding: 0;
  }

  .responsive-container {
    flex: 1;
    padding: 24px 24px;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
  }

  .full-container {
    flex: 1;
  }

  .md-container {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
  }

  .md-card {
    flex: 1;

    img {
      max-width: 100%;
    }
  }

  .hide-small {
    display: inline-block;
  }

  .show-small {
    display: none;
  }

  @media only screen and (max-width: 1000px) {
    // .responsive-container {
    //   padding: 24px 125px;
    // }

    mat-panel-title {
      flex-grow: 1 !important;
    }

    mat-panel-description {
      display: none !important;
    }
  }

  @media only screen and (max-width: 600px) {
    // .responsive-container {
    //   padding: 24px 24px;
    // }

    .hide-small {
      display: none !important;
    }

    .show-small {
      display: inline-block !important;
    }
  }
}

$my-app-primary: mat-palette($mat-deep-purple, 500, 900, A100);
$my-app-accent:  mat-palette($mat-amber, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


