<div class="docs-primary-header component-page-header">
  <button mat-button class="sidenav-toggle docs-primary-header">
    <mat-icon thumbs-up>menu</mat-icon>
  </button>

  <h1 focusOnNavigation>
    <mat-icon *ngIf="sidenav" fontSet="fa" fontIcon="fa-bars" class="md-24 show-small" (click)="sidenav.toggle()"></mat-icon>
    <span>{{title}}</span>
  </h1>
</div>