.component-page-header {
  display: flex;
  align-items: center;
}

h1 {
  outline: none;
  padding: 24px 8px;
  font-size: 20px;
  font-weight: 300;
}

.sidenav-toggle {
  padding: 0;
  margin: 8px;
  min-width: 64px;
  display: none;
}

.sidenav-toggle mat-icon {
  font-size: 30px;
  height: 64px;
  width: 64px;
  line-height: 64px;
  color: white;
}