:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.responsive-container {
  mat-card-header {
    padding-bottom: 24px;
  }

  .card-container {
    margin-bottom: 24px;
  }
}

mat-icon {
  font-size: 24px;
}

.button-container {
  white-space: nowrap;

  mat-icon {
    padding-left: 16px;
  }
}

mat-expansion-panel-header {
  display: flex;
  flex-direction: row;

  mat-panel-title {
    flex: 0 0 200px;
    white-space: nowrap;
    overflow: hidden;
  }

  mat-panel-description {
    flex-basis: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  .button-container {
    flex-basis: 64px;
    flex: 0;
  }
}

// mat-panel-title {
//   width: 200px;
//   min-width: 200px;
//   max-width: 200px;
// }

// mat-panel-description {
//   white-space: nowrap; 
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

// mat-expansion-panel {
//   mat-expansion-panel-header {
//     display: flex;
//     flex-direction: row;

//     mat-panel-title {
//       width: 200px;
//       min-width: 200px;
//       max-width: 200px;
//     }

//     mat-panel-description {
//       flex: 1;
//       white-space: nowrap; 
//       justify-content: space-between;
//       display: flex;
//       flex-direction: row;

//       p {
//         flex: 1;
//       }
  
//       span {
//         flex: 0;
//         font-size: 24px;
//       }
//     }
//   }

//   .menu-button {
//     padding-left: 8px;
//     white-space: nowrap; 
//     overflow: hidden;
//   }
// }



.header-title {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 20px;
  color: #fff;
}
