<page-header title="Licenses"></page-header>

<div class="responsive-container">
  <mat-card class="license-card card-container">
    <mat-card-header>
      <span>MIT License (Default for all OpenRail packages)</span>
    </mat-card-header>
    <mat-card-content>
      <mit-license year="2018" owner="OpenRail"></mit-license>
    </mat-card-content>
  </mat-card>

  <div class="card-container">
    <mat-accordion class="headers-align">
      <mat-expansion-panel hideToggle disabled>
        <mat-expansion-panel-header>
          <mat-panel-title>OpenRail Packages</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel *ngFor="let license of openRailLicenses" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{license.name}}</mat-panel-title>
          <mat-panel-description>
            {{license.description}}
          </mat-panel-description>
          <span class="button-container">
            <a *ngFor="let icon of license.icons" href="{{icon.href}}" target="_blank" class="menu-button {{icon.class}}">
              <mat-icon fontSet="{{icon.iconSet}}" fontIcon="{{icon.icon}}" class="md-24"></mat-icon>
            </a>
          </span>
        </mat-expansion-panel-header>
        <mit-license *ngIf="license.type=='MIT'" year="{{license.year}}" owner="{{license.owner}}"></mit-license>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="card-container">
    <mat-accordion class="headers-align">
      <mat-expansion-panel hideToggle disabled>
        <mat-expansion-panel-header>
          <mat-panel-title>3rd Party Packages</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel *ngFor="let license of thirdPartyLicenses" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{license.name}}</mat-panel-title>
          <mat-panel-description>
            {{license.description}}
          </mat-panel-description>
          <span class="button-container">
            <a *ngFor="let icon of license.icons" href="{{icon.href}}" target="_blank" class="menu-button {{icon.class}}">
              <mat-icon fontSet="{{icon.iconSet}}" fontIcon="{{icon.icon}}" class="md-24"></mat-icon>
            </a>
          </span>
        </mat-expansion-panel-header>
        <mit-license *ngIf="license.type=='MIT'" year="{{license.year}}" owner="{{license.owner}}"></mit-license>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<page-footer></page-footer>
