<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" class="sidebar" opened>
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-toolbar color="primary"></mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div>
  <ng-content></ng-content>
</div> -->