<page-header title="Documentation" [sidenav]="sidenav"></page-header>

<mat-sidenav-container class="full-container">
  <mat-sidenav #sidenav mode="side" class="sidebar" opened>
    <mat-accordion class="headers-align" displayMode="flat" multi>
      <mat-expansion-panel *ngFor="let package of getPackages()" expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>{{package.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLink="/docs/{{country}}/{{package.linkName}}">Read Me</a>
        <a *ngFor="let page of package.pages" routerLink="{{page.path}}">{{page.name}}</a>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
  <div class="md-container">
    <mat-card class="md-card">
      <h1>{{getAssetPackageName()}}</h1>
      <markdown [src]="getAssetURL()"></markdown> <!-- (load)="onLoad($event)" (error)="onError($event)" -->
    </mat-card>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<page-footer></page-footer>
