:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.docs-container {
  flex: 1;
  padding-right: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.country-button {
  flex-basis: 25%;
  padding: 24px;
  font-weight: 700;
  text-decoration: none;
}

.header-title {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 20px;
  color: #fff;
}

.sidebar {
  width: 250px;
  padding: 0px;

  mat-expansion-panel-header {
    padding: 8px 16px;
    height: 24px;
    max-height: 24px;
    background: #ddd;
    font-weight: 700;

    .mat-expansion-indicator::after {
      padding: 2px;
    }
  }

  mat-panel-title {
    font-size: .8em;
  }

  mat-expansion-panel {
    padding: 0;
  }

  mat-expansion-panel {
    a {
      width: 100%;
      padding: 8px 24px;
      background: #eee;
      display: block;
      box-sizing: border-box;
      font-size: 0.8em;
      text-decoration: none;
    }
  }
}

.sidebar .mat-expansion-panel-body {
  padding: 0;
}