<page-header title="Documentation"></page-header>

<div class="docs-container">
  <a *ngFor="let country of getCountries()" class="country-button" routerLink="/docs/{{country.key}}">
    <mat-card>{{country.code}}</mat-card>
  </a>
</div>

<page-footer></page-footer>
