@import '~@angular/material/theming';

.app-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page-nav {
  @include mat-elevation(6);
  z-index: 6;
  flex-grow: 0;
}

.page-container {
  @include mat-elevation(0);
  overflow: hidden;
  flex: 1;
}

