<div class="app-container" fullscreen>
  <app-menu class="mat-elevation-z6 page-nav"></app-menu>
  <div class="page-container mat-elevation-z0">
    <router-outlet class="test"></router-outlet>
  </div>
</div>
