:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.info-header,
.info-footer {
  flex: 0 0 auto;
}

.info-container {
  flex: 1 0 auto;
}

.header-title {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 20px;
  color: #fff;
}

// The margin between two sections
$margin-promotion-sections: 60px;
$margin-promotion-sections-small: 15px;

.docs-header-background {
  overflow: hidden;
}

.docs-header-section {
  text-align: center;
  padding: $margin-promotion-sections 0;
}

.docs-header-headline {
  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.docs-homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}
