<header class="docs-header-background docs-primary-header info-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1">OpenRail</h1>
      <h2 class="mat-h2">Node.JS packages for accessing open rail data feeds</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/docs">View Docs</a>
    </div>
  </div>
</header>
<div class="info-container">
  <div class="page-construction">
    <mat-icon fontSet="fas" fontIcon="fa-exclamation-triangle" class="md-24"></mat-icon>
    <span>Pages site is currently under development</span>
  </div>
</div>
<page-footer class="info-footer"></page-footer>
