<mat-toolbar color="primary" class="mat-toolbar-thin">  
  <mat-toolbar-row class="mat-toolbar-thin mat-elevation-z6">
    <span>
      <button routerLink="/" class="menu-button" mat-button>
        <mat-icon fontSet="fa" fontIcon="fa-subway" class="md-24"></mat-icon>
        <span>OpenRail</span>
      </button>
      <button routerLink="/docs" class="menu-button" mat-button><span>Docs</span></button>
      <button routerLink="/license" class="menu-button" mat-button><span>Licenses</span></button>
      <button routerLink="/external" class="menu-button" mat-button><span>External</span></button>
    </span>
    <span class="fill-remaining-space"></span>
    <span>
      <a href="https://www.npmjs.com/search?q=keywords%3Aopenrail" target="_blank" class="menu-button" mat-button>
        <mat-icon fontSet="fab" fontIcon="fa-npm" class="md-24"></mat-icon>
      </a>
      <a href="https://gitlab.com/openrail" target="_blank" class="menu-button" mat-button>
        <mat-icon fontSet="fab" fontIcon="fa-gitlab" class="md-24"></mat-icon>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <mat-tab-group backgroundColor="primary" color="accent" class="show-small" mat-stretch-tabs>
  <mat-tab routerLink="/docs" label="Docs"></mat-tab>
  <mat-tab routerLink="/license" label="Licenses"></mat-tab>
  <mat-tab routerLink="/external" label="External"></mat-tab>
</mat-tab-group> -->
