.component-page-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: .75em;
}

.footer-item {
  min-height: 64px;
  align-content: center;
  flex: 1;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

