<div class="docs-footer component-page-footer">
  <div class="footer-item">
  </div>
  <div class="footer-item">
    <span>Code licensed under MIT</span>
    <!-- <a routerLink="/license">Licenses</a> -->
  </div>
  <div class="footer-item"></div>
</div>